name: Run test

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:

  Run-Test:

    runs-on: ubuntu-latest
    steps:

      
      - name: Triton source code prepare
        run: |
          mkdir ${HOME}/triton-preci
          rm -rf triton
          git clone https://github.com/openai/triton triton
          cd triton
          git checkout ${{github.event.pull_request.head.ref}} && git pull
